@charset "utf-8";
.header-image {
	background-repeat: no-repeat;
	height: 650px;
	background-position: 50% 50px;
	margin-left: -15px;
	margin-right: -15px;
	background-size: auto 650px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
#	border-bottom: 4px solid #00CCCC;
}


.navbar.navbar-default.navbar-static-top {
/*
	background-color: #00CCCC;
*/
	background:repeating-linear-gradient(
		-45deg,
		#00ABEB 0,
		#00ABEB 10px,
		#1ab4ed 10px,
		#1ab4ed 20px
	);
}


.sponsor {
	height: 70px;
	background-color: #2e3031;
}
.infoarea {
	margin-top: 10px;
}


.sns {
	margin-top: 10px;
	min-height: 80px;
}
.sns > div {
	padding-left: 0px;
	padding-right: 0px;
}
.sns .icon {
	width: 80px;
	height: 80px;
	border-radius: 20%;
	border-color: #2e3031;
	background-color: #2e3031;
}
.sns .icon > i {
	position: absolute;
	color: #f8f8f8;
}
.sns .icon .twitter {
	top: 20px;
	left: 20px;
}
.sns .icon .youtube {
	top: 20px;
	left: 16px;
}
.sns .icon .discord {
	top: 13px;
	left: 21px;
}
.sns .discord_league {
	position: absolute;
	top: 52px;
	left: 15px;
	font-size: 16px;
	color: #f8f8f8;
}
.sns .discord_event {
	position: absolute;
	top: 52px;
	left: 20px;
	font-size: 16px;
	color: #f8f8f8;
}

.koumoku-l {
	border-bottom: 1px dotted #003791;
}
.rule-p>p {
	line-height: 1.00;
}



@media (min-width: 1200px){
.container-fluid {
	width: 1200px;
}



}
.footer-info {
	margin-top: 15px;
	background-color: #00CCCC;
	padding-top: 15px;
	padding-bottom: 10px;
	color: #FFFFFF;
}
.unei {
	text-align: right;
	margin-top: 12px;
	margin-right: 63px;
}

@media (max-width: 1199px){
}
.news .submidashi.news {
	font-size: 22px;
	top: 0px;
	margin-top: 4px;
}
.navbar-header .navbar-brand {
	padding: 5px 15px;
	position:absolute;
	z-index: 2;
/*
	color: #FFFFFF;
	font-size: 35px;
	line-height: 12px;
	border-right: 4px solid #FFFFFF;
	top: 0px;
	font-family: paytone-one;
	font-style: normal;
	font-weight: 400;
*/
}
.navbar-header .navbar-brand img {
	height: 40px;
}



@media (max-width: 320px){

}

@media (max-width: 375px){
.header-image{
	background-size: 298px auto;
	height: 419px;
}
.catch   {
	font-size: 0px;



}
.catch h1 {
	font-size: 24px;
}
.touroku {
	background-size: 0px auto;
	width: 0px;
}





}
/*
.ssn {
	background-color: #00CCCC;
	position: absolute;
	padding-top: 0px;
	padding-left: 0px;
	bottom: 0px;
	right: 0px;
	width: 123px;
	height: 44px;
	border-top-left-radius: 19px;
	border-top-right-radius: 19px;
}
*/
.container-fluid #defaultNavbar1 .nav.navbar-nav.navbar-right.header-font {
	font-size: 18px;
	font-weight: 200;
	color: #FFFFFF;
/*
	color: #000000;
*/
}


.nav.navbar-nav.navbar-right.header-font li a {
	color: #FFFFFF;
/*
	color: #000000;
*/
}
.nav.navbar-nav.navbar-right.header-font li {
	position: relative;
/*
	flex-grow:1;
	text-align: center;
*/
}
.nav.navbar-nav.navbar-right.header-font li+ li::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	vertical-align: center;
	background-image: -webkit-linear-gradient(to bottom, transparent, #FFFFFF 45%, #FFFFFF 55%, transparent);
	background-image: linear-gradient(to bottom, transparent, #FFFFFF 45%, #FFFFFF 55%, transparent);
	background-position: left;
	background-repeat: no-repeat;
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.6);
}
.nav.navbar-nav.navbar-right.header-font li ul.dropdown-menu li+ li::before {
	content: none;
}

.touroku-character {
	color: #000000;
	text-align: center;
	position: absolute;
	z-index: 10;
	display: block;
	width: 150px;
	height: 20px;
	line-height: 154px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	right: 10%;
	bottom: 110px;
	font-weight: 500;
	text-decoration: none;
}

.touroku {
	color: #FFFFFF;
	text-align: left;
	position: absolute;
	z-index: 10;
	display: block;
	width: 150px;
	height: 150px;
	line-height: 154px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 27px;
	right: 10%;
	bottom: 79px;
	font-weight: 500;
	text-decoration: none;
}
 
.touroku::before {
	content: '';
	background-color: #00CCCC;
	display: block;
	position: absolute;
	width: 150px;
	height: 150px;
	z-index: -1;
	border-radius: 50%;
	box-shadow: 0 0 0 0 #fff,
        0 0 0 0 #00CCCC;
	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	text-decoration: none;
}
.touroku:hover::before {
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	box-shadow: 0 0 0 25px #fff,
        0 0 0 27px #00CCCC;
	text-decoration: none;
}
.navbar.navbar-default.navbar-static-top .container-fluid #defaultNavbar1 .nav.navbar-nav.navbar-right.header-font li .login {
	background-color: #FFA801;
	border-left: 3px solid #FFFFFF;
/*
	background-color: #FFFFFF;
*/
	text-decoration: none;
}
.row .col-lg-9 .obo-form {
	margin-bottom: 37px;
}
.row .col-lg-2 .nav {
	margin-bottom: 14px;
}
.container-fluid .row h1 {
	text-align: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.container-fluid .row p {
	text-align: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.container-fluid .row #button {
	position: absolute;
	left: 50%;
	margin-bottom: 0px;
	margin-top: -9px;
	width: 66px;
	height: 27px;
	right: 50%;
}
.container-fluid .row .col-lg-12.back {
	margin-bottom: 26px;
	margin-top: 7px;
}















@media (max-width: 375px){
	.touroku {
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	z-index: 10;
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 15px;
	right: 10%;
	bottom: 79px;
}
 
.touroku::before {
    content: '';
    background-color: #00CCCC;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
    border-radius: 50%;
    box-shadow:
        0 0 0 0 #fff,
        0 0 0 0 #00CCCC;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}
.touroku:hover::before {
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	box-shadow: 0 0 0 25px #fff,
        0 0 0 27px #00CCCC;
}.login {
}
.oubo-form {
}
.obo-form {
}
.obo-form {
}
.back {
}
#defaultNavbar1 .nav.navbar-nav.navbar-right.header-font .prepared {
	text-decoration: line-through;
}

.prepared {
}
