  <div class="footer-info">
    <div class="container-fluid">
      <div class="row">
        <div class="teme col-lg-3">
          <p class="unei">LNS運営チーム(仮)<br>
          代表者：のりじろ</p>
        </div>
        <div class="Riot col-lg-9">
          <p>LNS League of Legends Nippon-no Salaryman　は、ライアットゲームズが公式承認するものではなく、ライアットゲームズ又はリーグ・オブ・レジェンドの製作・管理に正式に関与したいかなる者の見解・意見に基づくものではありません。リーグ・オブ・レジェンド及びライアットゲームズは、Riot Games, Inc.の商標又は登録商標です。リーグ・オブ・レジェンド c Riot Games, Inc.</p>
        </div>
      </div>
    </div>
  </div>