  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="/index.html">LNS
        </a></div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="defaultNavbar1">
        <ul class="nav navbar-nav navbar-right header-font">
        <li></li>
        <li><a href="/About/About.html">INFO</a></li>
        <li><a href="/Rule/Rule2.html">RULE</a></li>
        {if isset($login)}{if $login}<li><a href="/Team/SearchList">TEAM</a></li>{/if}{/if}
        {if isset($login)}{if $login}<li><a href="/User/MyPage">MYPAGE</a></li>{/if}{/if}
        <li>
        {if isset($login)}
          {if $login}
            <a href="/User/Logout" class="login">LOGOUT</a>
          {else}
            <a href="/User/LoginForm" class="login">LOGIN</a>
          {/if}
        {else}
          <a href="/User/LoginForm" class="login">LOGIN</a>
        {/if}
        </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
